*{
  margin: 0;
}


.nav{
  width: auto;
  height: 55px;
  flex-shrink: 0;
  background: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav--heading{
  width: 109px;
  height: 16px;
  flex-shrink: 0;
  color: white;
  font-family: Inter;
  font-size: 14.461px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.085px;
  padding: 0 15px;
}

.nav--image{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: ##F55A5A;
  
}

